# git
**/.gitignore
**/.git

# docker
.dockerignore
**/.dockerignore
.docker/
!.docker/*.sh
**/docker-compose.yml
**/docker-compose.*.yml
**/compose.yaml
**/compose.*.yaml
docker-bake.hcl

# misc
**/.DS_Store
LICENSE
**/README.md
**/AGENTS.md
config/
test-media/
.github/
.drone.yml
**/.env
**/.env.*
mprocs.yaml
.bruno
justfile
.editorconfig
docs/

# artefacts
target/
/dev/
.out/
**/node_modules/

# editors
.vscode/
.idea/
.fleet/
